body {

    background-color: white;
    font-family: 'Roboto';

}

main {
    text-align: center;
    padding-top: 150px;
}

input,
textarea {
    margin: 1vh 0;
}

#Servicos {
    margin-bottom: 5vh;
}

.marca-text {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.marca-text>h1 {
    font-size: 3rem;
    margin-right: 5px;
}

.marca-text>p {
    font-size: 1.6rem;
    color: black;

}

.links {
    display: flex;
    gap: 6vw;
    list-style: none;
    margin-bottom: 0;
}

a {
    font-weight: 400;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 0.4vw;
    padding: 1vw;
}

a:hover {
    background-color: grey;
}


.marca {
    display: flex;
    align-items: center;
    margin-left: 3%;
}

.menu-items {
    margin-right: 7%;
}

.logo {
    width: 20%;
    min-width: 72px;
    margin-right: 10px;
}

.marca>h1 {
    font-weight: 300;
    color: white;
}

.cartao-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.cartao {

    margin-right: 1vw;
    padding: 1vw;
    width: 30%;
    flex: 0 1 calc(30% - 1rem);
    padding: 1rem;
    color: white;
}

#cartao1 {
    background-image: url("../img/katarina.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    background-size: cover;
    background-position-x: center;


}

#cartao2 {
    background-image: url("../img/yasuo.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    background-size: cover;
    background-position-x: right;
}

#cartao3 {

    background-image: url("../img/shaco.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    background-size: cover;
    background-position-x: center;

}

.cartao>h2 {
    margin-bottom: 15%;
    color: white;
}

.cartao>h3 {
    margin-bottom: 5%;
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
}

.Contato {
    margin-top: 4vh;
}

.btn {
    background-color: black;
    color: white;
}

.btn:hover {
    background-color: grey;
    color: black;
}

#Sobre {
    padding: 20px;
}

#Sobre h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#Sobre .texto h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

#Sobre .texto p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

#Sobre .texto ul {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

#Sobre .texto li {
    margin-bottom: 10px;
}

.navbar-toggler {
    color: white;
    border-color: white;
}

.navbar-toggler-icon {
    background-color: grey;
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-toggler .navbar-toggler-icon {
    background-color: white;
}

.home {
    max-width: 250px;
}

@media (min-width: 768px) {
    .navbar-nav li {
      margin-right: 15px;
    }
  }

@media (max-width: 768px) {
    #Sobre .texto {
        margin: 0;
    }

    #Sobre .texto h3 {
        font-size: 18px;
    }

    #Sobre .texto p {
        font-size: 14px;
    }

    #Sobre .texto ul {
        font-size: 14px;
    }

    .cartao {
        flex: 0 1 calc(45% - 1rem);
    }
}

@media (max-width: 576px) {
    .cartao {
        flex: 0 1 100%;
    }
}